*~
*.pyc
*.swp
*.swo
*.swn
*.swm
*.church.ss
*.svg
*.txt
*.pos
*.radblob
*.png
*.aux
*.log
*.blg
*.DS_Store
*.out
scheme/tests/*.csv
scheme/tests/*.pdf
scheme/tests/*.hyp
scheme/tests/*.numbers
*.graffle
*.sxml
